<div class="container" ng-controller="formController">
 <form class="form-horizontal" name="myForm" method="POST" action="/form">
 
 <div class="row form-horizontal">
 <div class="col-lg-6">
  <div class="form-group">
   <label class="col-lg-4 control-label" for="CRNO">CR Number</label>
    <div class="col-lg-6">
     <input type="text" id="CRNO" class="form-control"/>
    </div>
  </div>
  
  <div class="form-group">
  <label class="col-lg-4 control-label" for="MOTSID">MOTSID</label>
    <div class="col-lg-6">
     <input type="number" id="MOTSID" class="form-control"/>
    </div>
  </div>
  </div>

 <div class="col-lg-6">
  <div class="form-group">
    <label class="col-lg-4 control-label" for="Env">Environment</label>
    <div class="col-lg-6">
     <select class="form-control" id="Env" ng-model="selectedEnv" ng-options="x for x in environment"> </select>
    </div>
  </div>
  
  <div class="form-group">
   <label class="col-lg-4 control-label" for="App">Application</label>
    <div class="col-lg-6">
     <input type="text" id="App" class="form-control"/>
   </div>
  </div>
  </div>
  
  </div>
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="Servers">Application Servers</label>
    <div class="col-lg-8">
     <input type="text" id="Servers" class="form-control" ng-model="servers" ng-list/>
    </div>
    <div class="col-lg-1">
     <input style="text-align:center" class="form-control" value="{{count}}" ng-disabled="true" />
    </div>
  </div>
   
  <div class="form-group">
   <label class="col-lg-2 control-label" for="DB">DB Servers</label>
    <div class="col-lg-8">
     <input type="text" id="DB" class="form-control" ng-model="db" ng-list/>
    </div>
    <div class="col-lg-1">
     <input style="text-align:center" class="form-control" value="{{dbcount}}" ng-disabled="true" />
    </div>
  </div>
  
  
  <div class="row form-horizontal">
  <div class="col-lg-6">
  <div class="form-group">
    <label for="dtp_input1" class="col-lg-4 control-label">Planned start Date</label>
        <div class="input-group date form_datetime col-lg-6" data-date="1979-09-16T05:25:07Z" data-date-format="dd M yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" type="text" value="" ng-disabled="true">
		<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
	<input type="hidden" id="dtp_input1" value="" />
  </div>
  <div class="form-group">
   <label class="col-lg-4 control-label" for="AppAck">App Acknowledgement</label>
    <div class="col-lg-6">
     <select class="form-control" id="AppAck" ng-model="AppVal" ng-options="x for x in options"> </select>
   </div>  
   </div>
   </div>
  
  <div class="col-lg-6">
  <div class="form-group">
    <label for="dtp_input1" class="col-lg-4 control-label">Planned End Date</label>
        <div class="input-group date form_datetime col-lg-6" data-date="1979-09-16T05:25:07Z" data-date-format="dd M yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" size="16" type="text" value="" ng-disabled="true">
		<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
	<input type="hidden" id="dtp_input1" value="" /><br/>
  </div>
  <div class="form-group">
  <label class="col-lg-4 control-label" for="DBAck">DB Acknowledgement</label>
    <div class="col-lg-6">
     <select class="form-control" id="DBAck" ng-model="DBVal" ng-options="x for x in options"> </select>
    </div>
  </div>
  </div>
  </div>
				
  <div class="form-group">
   <label class="col-lg-2 control-label" for="Approvers">Approval groups</label>
    <div class="col-lg-9">
     <input class="form-control" id="Approvers" type="text"/>
    </div>
  </div>
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="chat">Chat Room</label>
    <div class="col-lg-9">
     <input type="url" id="chat" class="form-control"/>
    </div>
  </div>
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="To">To</label>
    <div class="col-lg-9">
     <input type="email" id="To" class="form-control"/>
    </div>
  </div>
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="Cc">Cc</label>
    <div class="col-lg-9">
     <input type="email" id="Cc" class="form-control"/>
    </div>
  </div>
  
  

 </form>
</div>


<div class="col-md-3 center">
<input  ui-sref=".msg" value="Click here to send mail" class="btn btn-primary btn-block"/>
</div>

<div ui-view></div>

<footer class="footer">
    <div class="container">
        <span class="wrapper-vcenter center text-muted">
        <h5 class="center">AT&amp;T Proprietary (Internal Use Only); Not for use or disclosure outside the AT&amp;T companies except under written agreement</h5>
        </span>
    </div>
</footer>
