<div class="row form-horizontal">
 <div class="col-lg-6">
  <div class="form-group">
   <label class="col-lg-4 control-label" for="CRNO">CR Number</label>
    <div class="col-lg-6">
     <input type="text" id="CRNO" class="form-control"/>
    </div>
  </div>
  
  <div class="form-group">
  <label class="col-lg-4 control-label" for="MOTSID">MOTSID</label>
    <div class="col-lg-6">
     <input type="number" id="MOTSID" class="form-control"/>
    </div>
  </div>
  </div>

 <div class="col-lg-6">
  <div class="form-group">
    <label class="col-lg-4 control-label" for="Env">Environment</label>
    <div class="col-lg-6">
     <select class="form-control" id="Env" ng-model="selectedEnv" ng-options="x for x in environment"> </select>
    </div>
  </div>
  
  <div class="form-group">
   <label class="col-lg-4 control-label" for="App">Applications impacted</label>
    <div class="col-lg-6">
     <input type="text" id="App" class="form-control"/>
   </div>
  </div>
  </div>
  
  </div>
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="Servers">Application Servers</label>
    <div class="col-lg-8">
     <input type="text" id="Servers" class="form-control" ng-model="servers" ng-list/>
    </div>
    <div class="col-lg-1">
     <input style="text-align:center" class="form-control" value="{{count}}" ng-disabled="true" />
    </div>
  </div>
   
  
  
  
  <div class="row form-horizontal">
  <div class="col-lg-6">
  <div class="form-group">
    <label for="dtp_input1" class="col-lg-4 control-label">Planned start Date</label>
        <div class="input-group date form_datetime col-lg-6" data-date="1979-09-16T05:25:07Z" data-date-format="dd M yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" type="text" value="" ng-disabled="true">
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
  <input type="hidden" id="dtp_input1" value="" />
  </div>

  <div class="form-group">
    <label for="dtp_input1" class="col-lg-4 control-label">New Planned start Date</label>
        <div class="input-group date form_datetime col-lg-6" data-date="1979-09-16T05:25:07Z" data-date-format="dd M yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" type="text" value="" ng-disabled="true">
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
  <input type="hidden" id="dtp_input1" value="" />
  </div>
  
   </div>
  
  <div class="col-lg-6">
  <div class="form-group">
    <label for="dtp_input1" class="col-lg-4 control-label">Planned End Date</label>
        <div class="input-group date form_datetime col-lg-6" data-date="1979-09-16T05:25:07Z" data-date-format="dd M yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" size="16" type="text" value="" ng-disabled="true">
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
  <input type="hidden" id="dtp_input1" value="" /><br/>
  </div>

  <div class="form-group">
    <label for="dtp_input1" class="col-lg-4 control-label">New Planned End Date</label>
        <div class="input-group date form_datetime col-lg-6" data-date="1979-09-16T05:25:07Z" data-date-format="dd M yyyy - HH:ii p" data-link-field="dtp_input1">
        <input class="form-control" size="16" type="text" value="" ng-disabled="true">
    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
  <input type="hidden" id="dtp_input1" value="" /><br/>
  </div>
  
  </div>
  </div>
        
  <div class="form-group">
   <label class="col-lg-2 control-label" for="Approvers">Approval groups</label>
    <div class="col-lg-9">
     <input class="form-control" id="Approvers" type="text"/>
    </div>
  </div>
  
  
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="To">To</label>
    <div class="col-lg-9">
     <input type="email" id="To" class="form-control"/>
    </div>
  </div>
  
  <div class="form-group">
   <label class="col-lg-2 control-label" for="Cc">Cc</label>
    <div class="col-lg-9">
     <input type="email" id="Cc" class="form-control"/>
    </div>
  </div>
  
  