<!DOCTYPE html>
<html ng-app="myApp">
<head>

<meta charset="utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
      var app=angular.module("myApp",[]);
app.controller("myController",function($scope, $http){
   
    $scope.items=[];
    $scope.addItem = function () {
    
    $scope.items.push($scope.item);
    var data=$scope.items;
    $http.post('/someUrl', data)
    .then(function(response) {
        console.log("success");
        console.log(response.data);
    }, 
    function(response) {
        console.log(response);
    });

    $scope.item = "";
    
};
 
});
    </script>
    
  <title>Angular</title>
</head>
<body ng-controller="myController">

<input type=text name="name" ng-model='item'/>
<button type="submit" ng-click="addItem()">Add</button>
 
</body >
</html>