<!DOCTYPE html>
<html ng-app="myApp">

<head>
<meta charset="utf-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controller.js"></script>
      <title>TO-DO App</title>
      <style type="text/css">
        span.checked-true {
    font-style: italic;
    text-decoration: line-through;
    color: red;
     }
        span[contenteditable="true"] {
           background-color: gray;
           padding: 5px;

        }
      </style>
</head>

<body ng-controller="myController">

<h1 style="text-align: center;">Add a task</h1>

<input type="text/number" ng-model="item" ng-keyup="enterItem()" style="display: block; margin:0 auto;padding: 5px;font-size: 15px; width: 300px;border: solid;"/>

<div>
  <ul>
  <li  ng-repeat="x in tasks track by $index" >
  <input type="checkbox" ng-model="x.status"/>
  <span contenteditable="false" ng-model="x.name" ng-keydown="updateTask(x.name)" ng-dblclick="contentEdit()" class="checked-{{x.status}}"> 
  {{x.name}}
  </span>
  </li>
  </ul>

</div>



</body >
</html>